[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = git@github.com:flysnow-org/maupassant-hugo.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even.git
[submodule "themes/hugo-onyx-theme"]
	path = themes/hugo-onyx-theme
	url = https://github.com/kaushalmodi/hugo-onyx-theme.git
